In [8]:
import numpy as np

## Q#1: Create x array with elements equal to 1.

In [9]:
x = np.array([1]) #declare arrary
print(x)

[1]

## Q#2: Create y array with elements equal to 0.

In [21]:
y = np.array([]) #declare arrary
print(y)

[]

## Q#3: Add x and y arrays.

In [12]:
z = np.concatenate((x, y)) #concatenate 2 arrays
print(z)

[1.]

## Q#4: Print x array characteristics (e.g: dimension, shape, size, type).

In [13]:
print(x.dtype) # Print x array characteristics

int32

## Q#5: Create a 2D array "called w" as the following:

|       |          |
| ----- | -------- |
| 11    | 12       |
| 13    | 14       |
| 15    | 16       |

In [55]:
w = np.arange(11,17).reshape(2,3) #create array and reshape it
w

array([[11, 12, 13],
       [14, 15, 16]])

## Q#6: Create z array contains the numbers from 1 to 3.

In [53]:
z = np.arange(0,4).reshape(2,2) #declare arrary
print(z) #print out array

[[0 1]
 [2 3]]

## Q#7: Combine the arrays z and w in horizontal way then save it in a new variable "newArray".

In [57]:
newArray = np.hstack((w, z)) #stack them horizontaly
newArray

array([[11, 12, 13,  0,  1],
       [14, 15, 16,  2,  3]])

## Q#8: Print all elements of "newArray" using the loop.

In [63]:
for row in newArray: #for loop to print all elements 
    for element in row:
        print(element)

11
12
13
0
1
14
15
16
2
3

## Q#9: Reverse the columns and rows of "newArray".

In [64]:
revArray = np.flipud(np.fliplr(newArray))

revArray

array([[ 3,  2, 16, 15, 14],
       [ 1,  0, 13, 12, 11]])

## Q#10: Decrement all elements of "newArray" with 1.

In [71]:
newArray-1

array([[10, 11, 12, -1,  0],
       [13, 14, 15,  1,  2]])

## Q#11: Find smallest and biggest values in "newArray".

In [68]:
print(newArray.min())
print(newArray.max())

0
16

## Q#12: Print the first row of "newArray" using indexing.

In [72]:
'1st row: ', newArray[0,]

('1st row: ', array([11, 12, 13,  0,  1]))

## Q#13: Print the number equals 12 of "newArray" using indexing.

In [77]:
newArray[0,1]

12

## Q#14: Print the numbers equal 0 and 13 of "newArray" using indexing.

In [81]:
newArray[0,3] ,newArray[0,2]

(0, 13)

## Q#15: Change the shape of "newArray" to (9,1).

In [85]:
newArray.reshape(10, 1)

array([[11],
       [12],
       [13],
       [ 0],
       [ 1],
       [14],
       [15],
       [16],
       [ 2],
       [ 3]])

## Q#16: Change the shape of "newArray" to (3,2).

In [100]:
newArray.reshape(5, 2)

array([[11, 12],
       [13,  0],
       [ 1, 14],
       [15, 16],
       [ 2,  3]])

# Well Done ðŸŽ‰